rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Funções auxiliares baseadas na sessão de autenticação
    function isSignedIn() { return request.auth != null; }

    // Fotos de perfil genéricas
    match /{collection}/fotos/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    // Documentos (qualquer usuário logado com UI bloqueando acessos indevidos)
    match /{collection}/documentos/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    // Estudantes (Upload de Avatar)
    match /Estudantes/{fileName} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
    
    // Regra Global Restrita
    match /{allPaths=**} {
      allow read, write: if isSignedIn();
    }
  }
}
